
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-image: url('../images/background.jpeg'); 
    background-size: cover;
    background-position: center;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 600px;
}

.login-box .logo {
    width: 50px;
    margin: 0 auto 20px auto; 
    display: block; 
   
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box .forgot-password {
    display: block;
    margin-bottom: 15px;
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
}

.login-box .login-btn,
.login-box .signup-btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-box .login-btn {
    background-color: #6CB660;
    color: white;
    font-size: 1rem;
}

.login-box .signup-btn {
    background-color: #ccc;
    color: black;
    font-size: 1rem;
}

.login-box .login-btn:hover,
.login-box .signup-btn:hover {
    opacity: 0.9;
}

.login-box p {
    margin: 20px 0 10px;
    font-size: 1rem;
}
