.orders-container {
    margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    height: calc(100vh - 60px);
    background-color: #f8f9fa;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orders-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    width: 100%;
    background-color: #6CB660;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.orders-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
}

.orders-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 80%;
    max-width: 900px;
    justify-items: center;
}

.order-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #91c988; /* Green background */
    color: #050505;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%; /* Make sure the card fits within the grid */
    text-align: center; /* Center the text */
}

.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #6CB660;
    color: white;
}

@media (max-width: 768px) {
    .orders-grid {
        grid-template-columns: 1fr;
    }
}
