.reports-container {
    margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    height: calc(100vh - 60px);
    background-color: #f8f9fa;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.reports-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 100%;
    background-color: #023618; /* Matching green background */
    border-radius: 8px;
    border: 2px solid #043a05fa; /* Matching border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reports-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
}



.reports-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /* Space between grid items */
    width: 80%;
    justify-content: center;
    max-width: 900px;
    margin-top: 20px;
    transition: all 0.3s ease; /* Smooth transition for responsiveness */
}

.report-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #0a6c0ada;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    text-decoration: none; /* Remove link underline */
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%; /* Make sure the card fits within the grid */
    text-align: center; 
}

.report-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Elevates the card on hover */
    background-color: #126820;
    color: white;
}

@media (max-width: 768px) {
    .reports-container {
        padding: 20px;
        height: fix-content;
    }

    .reports-grid {
        grid-template-columns: 1fr; /* Stack the grid items on smaller screens */
        width: 100%;
    }

    .report-card {
        height: 100px; /* Adjust card height for smaller screens */
        font-size: 1.2rem;
    }
}