.sections-container {
    margin-left: 200px;
    margin-top: 60px;
    padding: 20px;
    height: calc(200vh - 60px);
    background-color:white; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sections-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 100%;
    background-color: #023618; /* Matching green background */
    border-radius: 8px;
    border: 2px solid #043a05fa; /* Matching border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sections-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff;
    flex: 1;
    text-align: center;
    
}

.sections-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #0c5b0d; /* Background color for the big box */
    border-radius: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    justify-items: center;
    width: 80%;
    max-width: 1000px;
    
}



.section-button {
    background-color: #d9f9d4;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px; /* Fixed width for consistency */
    height: 150px; /* Fixed height for consistency */
}


.section-button img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 30px;
    object-fit: cover;
   
}




.section-button p {
    color: rgb(5, 5, 5);
    font-size: 1rem;
    margin: 0;
    font-weight: bold;
   
}
  
.section-button:hover {
    transform: scale(1.05); /* Smooth scaling on hover */
    background-color: #2ecc71; /* Smooth background color transition */
}

.section-button p:hover {
    color: white; /* Smooth text color change on hover */
}

@media (max-width: 768px) {
    .sections-container {

        padding: 10px;
        
    }

    .sections-grid {
        
        grid-template-columns: 1fr; /* Stack the grid items on smaller screens */
        width: 80%;
    }
}